body {
  position: relative;
  height: 100vh;
}

#app {
  font-family: sans-serif;
}

.map {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
}

.map-container {
  position: relative;
  width: 100%;
  height: 88%;
}

.circle {
  font-size: 3.4em;
  line-height: 12px;
  /* transform: translateY(-200px); */
  vertical-align: middle;  
}

.off {
  opacity: 0.1;
}

#stations {
  padding: 0 20px;
}

#mainmap { 
  left: 0;
}

#loopmap { 
  right: 0;
}

.monospace {
  font-family: monospace !important;
}
